# Ignore everything in root
/*

# Whitelist (Un-ignore) specific folders and files
!/src/
!/data/
!/analysis_full/
!/analysis_combined/
!/README.md
!/requirements.txt
!/.gitignore

# Re-ignore specific patterns everywhere
.DS_Store
__pycache__/
*.pyc


